<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Dmy only girly</title>
  <link rel="stylesheet" href="/static/amor/css/main.css">
</head>
<body>
  <div class="wrapper diary-wrapper">
    <div class="diary-widget">
      <div class="diary-header">
        <h1 class="diary-title">my only girl </h1>
      </div>

      <div class="diary-content">
        <div class="diary-section">
          <p class="diary-text">Es increíble cómo pasa el tiempo, todo lo que hemos vivido y cómo hoy ya no puedo imaginar un futuro sin ti en mi vida. quiero estar contigo toda la eternidad, o hasta que tú me lo permitas.</p>
        </div>

      <div class="diary-content">
        <div class="diary-section">
          <p class="diary-text">Te miro y me doy cuenta de que jamás podré amar a nadie más con tanta intensidad. en ti encontré el amor y la paz que tanto he buscado, eres la mujer de mi vida, la persona de mis sueños, dueña de mi cuerpo y de mi alma.</p>
        </div>

      <div class="diary-content">
        <div class="diary-section">
          <p class="diary-text">Cada día contigo es lo mejor que la vida me pudo dar. gracias por todo el amor que me entregas, por cada palabra y cada acto tan importante para mí, por aceptarme tal cual soy y, aun así, regalarme todo tu amor.</p>
        </div>

      <div class="diary-content">
        <div class="diary-section">
          <p class="diary-text">Desde que llegaste a mi vida aprendí que amar no es solo sentir, sino elegir. elegirte incluso en los días difíciles, en los silencios, en los miedos y en las dudas, contigo entendí que el amor verdadero no duele, por eso deseo entregarte todo mi amor.</p>
        </div>

      <div class="diary-content">
        <div class="diary-section">
          <p class="diary-text">Quiero ser tu apoyo cuando el mundo pese, tu calma cuando todo sea caos y tu refugio cuando necesites descanso. prometo cuidarte, respetarte y amarte en cada etapa de nuestras vidas, crecer contigo y construir un futuro donde siempre seamos nosotros, sin importar el tiempo ni las circunstancias.</p>
        </div>
        
      <div class="diary-content">
        <div class="diary-section">
          <p class="diary-text">No quiero una vida perfecta, quiero una vida contigo. y mientras exista el tiempo, mi corazón siempre será tuyo.</p>
        </div>       

      <div class="nav-buttons">
        <a href="/playlists/" class="nav-btn nav-prev">← anterior</a>
        <a href="/proposal/" class="nav-btn nav-next">siguiente →</a>
      </div>
    </div>
  </div>
</body>
</html>

